html {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  display: flex;
}

#image_container {
  position: relative;
  height: 100vh;
  width: 35vw;
  overflow: hidden;
}

#image_container  img{
  position: absolute;
  height: 100%;

}

#image_text {
  width: 100%;
  background: black;
  opacity: 0.6;
  top: 30%;
  text-align: center;
  color: white;
  font-size: 100px;
  position: absolute;
} 


#form_container {
  height: 100vh;
  width: 65vw;
}
