:root {
  --background: #fafafa;
  --alt-background: #eceff1;
  --text: #263238;
  --button: #2E7D32;
  --error: #D32F2F;
  --shadow: 2px 2px 6px rgba(0, 0, 25, 0.1);
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
}

#image_container {
  background-image: url(https://images.unsplash.com/photo-1585202900225-6d3ac20a6962?q=80&w=1862&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  position: relative;
  height: 100vh;
  width: 35vw;
  overflow: hidden;
}

#image_text {
  width: 100%;
  background: black;
  opacity: 0.6;
  top: 30%;
  text-align: center;
  color: var(--background);
  font-size: 100px;
  position: absolute;
}

#form_container {
  color: var(--text);
  background-color: var(--alt-background);
  height: 100vh;
  width: 65vw;
}

h1 {
  padding: 30px;
  font-size: 22px;
}

form {
  background-color: var(--background);
  padding: 30px;
  box-shadow: var(--shadow);
}

input {
  border-radius: 4px;
  border: solid rgba(185, 185, 185, 0.384) 1px;
  height: 30px;
  width: 220px;
  padding: 3px;
  &:focus {
    outline: none;
    box-shadow: var(--shadow);
    border-color: var(--button);
  }
}

button {
  background-color: var(--button);
  color: var(--background);
  font-size: 12px;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
}

.form_line {
  display: flex;
  gap: 35px;
  margin-bottom: 20px;
}
